@import 'remusjs/src/remus.css';
@import 'variables';
@import 'functions';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1323;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #DDD;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: map-get($colors, 'primary');
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;

  &:not(.is-fluid) {
    margin: 0 auto;

    @each $bp,
    $container-size in $container-sizes {
      @include min(#{bp(#{$bp})
    }

    ) {
      width: 100%;
      max-width: container(#{$bp});
    }
  }
}
}


.grid {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-gap: $gutter;
  gap: $gutter;
}

@include create-selectors;

@each $color,
$hash in $colors {
  .#{$color} {
    background-color: #{$hash};
  }
}

@each $infix,
$val in $border-rads {
  .rounded-#{$infix} {
    border-radius: $val;
  }
}

@each $breakpoint,
$width in $breakpoints {
  @media (min-width: $width) {
    @include create-selectors($breakpoint)
  }
}